.nav{
  display: flex;
  justify-content: space-around;
  padding-top: 1rem ;
  padding-bottom: 0.5rem;
  align-items: center;
  font-size: x-large ;
  background-color: #7d9b79;
}

.typingText{
  color: #7d9b79;
  background-color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: -0.02em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.typingTextP{

  color: #7d9b79;
  background-color: #ffffff; 
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: -0.02em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
/* Boutons de navigation */
.button {
  border: none;
  color: white;
  cursor: pointer;
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-size: inherit;
  align-items: center;
}

.button:hover {
  transform: scale(1.1);
  color: #ffffff;
  opacity: 1;
}

.button-active {
  color: #ffffff;
  opacity: 1;
  transform: scale(1.1);
}
/* Conteneur du menu déroulant */
.dropdown {
  position: relative; /* Référence pour position:absolute de dropdownMenu */
}

.dropdownMenu {
  position: absolute;
  top: 0%; /* Juste en dessous */
  left: 110%;   /* Aligné à gauche du bouton */
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0.5rem 0;
  z-index: 100;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Ajustement du bouton pour qu'il soit bien référencé */
.projects-button {
  position: relative;
}

/* Boutons du menu */
.dropdownMenu button {
  background: none;
  border: none;
  color: #7d9b79;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease, color 0.3s ease;
}

.dropdownMenu button:hover {
  background: #7d9b79;
  color: white;
}

/* Fermeture du menu si on clique hors sur mobile */
@media (max-width: 768px) {
  .dropdownMenu {
    left: 0;
    transform: none;
    min-width: 100%;
  }
}

/* Conteneur Email */

.container-email {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espacement entre icône et texte */
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.6;
  font-size: inherit;
}
.container-email:hover,
.Active-container-email{
  transform: scale(1.15);
  opacity: 1;
}

.container-email img.emailIconPlane {
  transform: rotate(-10deg);
  transition: transform 0.3s ease;
}

.container-email:hover img.emailIconPlane,
.Active-container-email img.emailIconPlane {
  transform: rotate(0deg);
}
.container-email p {
  color: white;
  /* font-size: inherit; */
}

